/* responsive tablet */

@media screen and (max-width:1000px) {
    header {
        height: 1100px;
    }
    article .kursi {
        justify-content: center;
        margin-right: 0px;
        margin-top: 50px;
    }
    article .kursi img {
        height:300px;
        border-radius: 150px 150px 0px 0px;
    }
    article .teks1 {
        font-size: 35px;
        text-align: center;
        margin-left: 0px;
    }
    article .kursi2 {
        display: flex;
        justify-content: center;
    }
    article .kursi2 img {
        margin-top: 50px;
        margin-left: 0px;
        border-radius: 100px 0px 100px 0px;
    }
    .bagian1 {
        height: 550px;
    }
    .bagian1 .title h1{
        font-size: 35px;
    }
    .bagian1 .title h1 span{
        font-size: 20px;
    }
    .bagian1 .column {
        display: block;
    }
    .bagian1 .column1 {
        display: flex;
        justify-content: center;
    }
    .bagian2 .list {
        margin: 0 -10px;
    }
    .bagian3 {
        display: block;
    }
    .bagian3 .kursi5 {
        display: flex;
        justify-content: center;
    }
    .bagian3 .kursi5 img {
        margin-left: 0px;
        padding: 20px 0;
    }
    .bagian3 .tengah {
        text-align: center;
    }
    footer {
        height: 300px;
        display: flex;
    }
    footer .palingkiri {
        display: flex;
        justify-content: center;
    }
    footer .akhir {
        display: flex;
        justify-content: space-evenly;
    }
    footer .tengah, .tengah2, .kanan{
        margin: 10px 20px;
    }
    footer .kiri {
        width: 80%;
        text-align: justify;
    }
}

/* responsive hp */

@media screen and (max-width:670px) {
    article .kursi img {
        display: none;
    }
    article .teks1 {
        font-size: 35px;
        text-align: center;
        margin-left: 0px;
    }
    article .kursi2 {
        display: flex;
        justify-content: center;
    }
    article .kursi2 img {
        margin-top: 200px;
        margin-left: 0px;
    }
    .bagian1 {
        height: 550px;
    }
    .bagian1 .title h1{
        font-size: 35px;
    }
    .bagian1 .title h1 span{
        font-size: 20px;
    }
    .bagian1 .column {
        display: block;
    }
    .bagian1 .column1 {
        display: flex;
        justify-content: center;
    }
    .bagian2 .list {
        margin: 0 -10px;
    }
    .bagian3 {
        display: block;
    }
    .bagian3 .kursi5 {
        display: flex;
        justify-content: center;
    }
    .bagian3 .kursi5 img {
        margin-left: 0px;
        padding: 20px 0;
    }
    .bagian3 .tengah {
        text-align: center;
    }
    footer {
        height: 500px;
        display: block;
    }
    footer .palingkiri {
        display: flex;
        justify-content: center;
    }
    footer .akhir {
        display: flex;
        justify-content: space-evenly;
    }
    footer .kiri {
        width: 80%;
        text-align: justify;
    }
}